<h2>Favourite Charaters</h2>

<div class="box">
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <button [class.selected]="hero === selectedHero" type="button" class="display"(click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span>
        <span class="name">{{hero.name}}</span>  
      </button>
      <button type="button" class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
    </li>
    <li>
      <span>Quantity of Humans: {{humans}}</span>
    </li>
  </ul>

</div>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
